.has-background {
  background-image: url(https://images.unsplash.com/photo-1575369762536-f6bbfd3b9b3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title,
.subtitle,
.tabbed,
.title,
.hero-foot {
  color: white !important;
}
